<section class="w-100 h-100">
    <mat-toolbar class="d-flex flex-row justify-between bg-red-color">
        <span [routerLink]="['/home']" class="color-white cursor-pointer">ScheduleSync</span>
        <button mat-button [routerLink]="['/student-session']">
            <span class="color-white">Sessions</span>
            <mat-icon class="color-white">history</mat-icon>
        </button>
        <button mat-button [routerLink]= "['/course',courseId]">
            <span class="color-white">Course</span>
            <mat-icon class="color-white">local_library</mat-icon>
        </button>
        <button mat-button (click)="logout()">
            <span class="color-white">Log Out</span>
            <mat-icon class="color-white">cancel</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet class="w-100 h-90"></router-outlet>
</section>