/* PRIMARY COLOR PALETTE */

$color_primary_blue: #003973;
$color_primary_green: #4482d0;
$color_primary_orange: #e0813b;
$color_primary_brown: #c18b59;
$color_primary_white: #fff;
$color_primary_grey: #646569;
$color_light_grey: #f8f9fb;
$color_primary_red: #bc4a4a;
$color_primary_dark: #202020;
